# Exercise 13

This particular Automobile Data Set includes a good mix of categorical values as well as continuous values and serves as a useful example that is relatively easy to understand. Since domain understanding is an important aspect when deciding how to encode various categorical values - this data set makes a good case study.

Read the data into Pandas

In [208]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
import sklearn.metrics as metrics
import numpy as np

In [187]:


# Define the headers since the data does not have any
headers = ["symboling", "normalized_losses", "make", "fuel_type", "aspiration",
           "num_doors", "body_style", "drive_wheels", "engine_location",
           "wheel_base", "length", "width", "height", "curb_weight",
           "engine_type", "num_cylinders", "engine_size", "fuel_system",
           "bore", "stroke", "compression_ratio", "horsepower", "peak_rpm",
           "city_mpg", "highway_mpg", "price"]

# Read in the CSV file and convert "?" to NaN
df = pd.read_csv("http://mlr.cs.umass.edu/ml/machine-learning-databases/autos/imports-85.data",
                  header=None, names=headers, na_values="?" )
df.head(20)

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
5,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,15250.0
6,1,158.0,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,17710.0
7,1,NaN,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,18920.0
8,1,158.0,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140.0,5500.0,17,20,23875.0
9,0,NaN,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160.0,5500.0,16,22,NaN
10,2,192.0,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101.0,5800.0,23,29,16430.0
11,0,192.0,bmw,gas,std,four,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101.0,5800.0,23,29,16925.0
12,0,188.0,bmw,gas,std,two,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121.0,4250.0,21,28,20970.0
13,0,188.0,bmw,gas,std,four,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121.0,4250.0,21,28,21105.0
14,1,NaN,bmw,gas,std,four,sedan,rwd,front,103.5,...,164,mpfi,3.31,3.19,9.0,121.0,4250.0,20,25,24565.0
15,0,NaN,bmw,gas,std,four,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182.0,5400.0,16,22,30760.0
16,0,NaN,bmw,gas,std,two,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182.0,5400.0,16,22,41315.0
17,0,NaN,bmw,gas,std,four,sedan,rwd,front,110.0,...,209,mpfi,3.62,3.39,8.0,182.0,5400.0,15,20,36880.0
18,2,121.0,chevrolet,gas,std,two,hatchback,fwd,front,88.4,...,61,2bbl,2.91,3.03,9.5,48.0,5100.0,47,53,5151.0
19,1,98.0,chevrolet,gas,std,two,hatchback,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.6,70.0,5400.0,38,43,6295.0

In [3]:
df.shape

(205, 26)

In [4]:
df.dtypes

symboling              int64
normalized_losses    float64
make                  object
fuel_type             object
aspiration            object
num_doors             object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_cylinders         object
engine_size            int64
fuel_system           object
bore                 float64
stroke               float64
compression_ratio    float64
horsepower           float64
peak_rpm             float64
city_mpg               int64
highway_mpg            int64
price                float64
dtype: object

In [114]:
obj_df = df.select_dtypes(include=['object']).copy()
obj_df.head()

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
1,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
2,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi
3,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi
4,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi

# Exercise 13.1

Does the database contain missing values? If so, replace them using one of the methods explained in class

In [188]:
# check for missing values
df.isnull().sum() [df.isnull().sum()>0]

normalized_losses    41
num_doors             2
bore                  4
stroke                4
horsepower            2
peak_rpm              2
price                 4
dtype: int64

### Num_doors

In [189]:
from scipy.stats import mode
moda = df.pivot_table(values='num_doors',
                                   columns='body_style',
                                   aggfunc=lambda x: x.mode().iat[0])

print ('Mode for each body_style:')
print (moda)

miss_bool = df['num_doors'].isnull() 
#Impute data and check #missing values before and after imputation to confirm
print ('\nOrignal #missing: %d'% sum(miss_bool))
df.loc[miss_bool,'num_doors'] = df.loc[miss_bool,'body_style'].apply(lambda x: moda[x])['num_doors']
print ('\nFinal #missing: %d'% sum(df['num_doors'].isnull()))

Mode for each body_style:
body_style convertible hardtop hatchback sedan wagon
num_doors          two     two       two  four  four

Orignal #missing: 2

Final #missing: 0

Se aplicó la moda sobre el body style

### normalized_losses

In [153]:
df.normalized_losses.describe()

count    164.000000
mean     122.000000
std       35.442168
min       65.000000
25%       94.000000
50%      115.000000
75%      150.000000
max      256.000000
Name: normalized_losses, dtype: float64

In [190]:
#df[df['make']=='alfa-romero']=df.normalized_losses.median()
df.normalized_losses.fillna(df.normalized_losses.median(), inplace=True)

En este caso , se aplicó la mediana global dado que habian marcas de vehiculos con el campo nulo en su totalidad

### bore

In [155]:
df.bore.describe()

count    201.000000
mean       3.329751
std        0.273539
min        2.540000
25%        3.150000
50%        3.310000
75%        3.590000
max        3.940000
Name: bore, dtype: float64

In [191]:
#Determine the average weight per item:
item_avg_weight = df.pivot_table(values='bore', index='make')
#Get a boolean variable specifying missing Item_Weight values
miss_bool = df['bore'].isnull() 
#Impute data and check #missing values before and after imputation to confirm
print ('Orignal missing: %d'% sum(miss_bool))
df.loc[miss_bool,'bore'] = df.loc[miss_bool,'make'].apply(lambda x: item_avg_weight.loc[x])
print ('Final #missing: %d'% sum(df['bore'].isnull()))

Orignal missing: 4
Final #missing: 0

### stroke

In [157]:
df.stroke.describe()

count    201.000000
mean       3.255423
std        0.316717
min        2.070000
25%        3.110000
50%        3.290000
75%        3.410000
max        4.170000
Name: stroke, dtype: float64

In [192]:
#Determine the average weight per item:
item_avg_weight = df.pivot_table(values='stroke', index='make')
#Get a boolean variable specifying missing Item_Weight values
miss_bool = df['stroke'].isnull() 
#Impute data and check #missing values before and after imputation to confirm
print ('Orignal missing: %d'% sum(miss_bool))
df.loc[miss_bool,'stroke'] = df.loc[miss_bool,'make'].apply(lambda x: item_avg_weight.loc[x])
print ('Final #missing: %d'% sum(df['stroke'].isnull()))

Orignal missing: 4
Final #missing: 0

### horsepower

In [161]:
df.horsepower.describe()

count    203.000000
mean     104.256158
std       39.714369
min       48.000000
25%       70.000000
50%       95.000000
75%      116.000000
max      288.000000
Name: horsepower, dtype: float64

In [194]:
df.horsepower.fillna(df.horsepower.median(), inplace=True)

### peak_rpm

In [165]:
df.peak_rpm.describe()

count     203.000000
mean     5125.369458
std       479.334560
min      4150.000000
25%      4800.000000
50%      5200.000000
75%      5500.000000
max      6600.000000
Name: peak_rpm, dtype: float64

In [195]:
df.peak_rpm.fillna(df.peak_rpm.median(), inplace=True)

### price

In [169]:
df.price.describe()

count      201.000000
mean     13207.129353
std       7947.066342
min       5118.000000
25%       7775.000000
50%      10295.000000
75%      16500.000000
max      45400.000000
Name: price, dtype: float64

In [196]:
#Determine the average weight per item:
item_avg_weight = df.pivot_table(values='price', index='make')
#Get a boolean variable specifying missing Item_Weight values
miss_bool = df['price'].isnull() 
#Impute data and check #missing values before and after imputation to confirm
print ('Orignal missing: %d'% sum(miss_bool))
df.loc[miss_bool,'price'] = df.loc[miss_bool,'make'].apply(lambda x: item_avg_weight.loc[x])
print ('Final #missing: %d'% sum(df['price'].isnull()))

Orignal missing: 4
Final #missing: 0

Para el precio, se aplicó el promedio teniendo en cuenta  cada marca sobre los missing values.

In [197]:
# check for missing values
df.isnull().sum() [df.isnull().sum()>0]

Series([], dtype: int64)

Al verificar, se observa que ya no hay missing values

# Exercise 13.2

Split the data into training and testing sets

Train a Random Forest Regressor to predict the price of a car using the nominal features

In [198]:
df_numerical = df.select_dtypes(include=['float64','int64']).copy()
df_numerical.head()

,symboling,normalized_losses,wheel_base,length,width,height,curb_weight,engine_size,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,115.0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,115.0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,115.0,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [237]:
y = df_numerical['price']
X = df_numerical.drop(['price'], axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

clf = RandomForestRegressor(n_estimators=10, random_state=1, n_jobs=-1)
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)

np.sqrt(metrics.mean_squared_error(y_test, y_pred))

2046.6237527864691

# Exercise 13.3

Create dummy variables for the categorical features

Train a Random Forest Regressor and compare

In [218]:
y = df['price']
X = pd.get_dummies(df).drop(['price'], axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
clf = RandomForestRegressor(n_estimators=10, random_state=1, n_jobs=-1)
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)

np.sqrt(metrics.mean_squared_error(y_test, y_pred))

1997.1562468556572

Al incluir las variables categoricas codificadas, el error disminuye, lo que indica que las nuevas variables codificadas aportan infomración relevante al modelo

# Exercise 13.4

Apply two other methods of categorical encoding

compare the results

### Binary encoding

In [234]:
import category_encoders as ce

X = ce.BinaryEncoder().fit_transform(df.drop(['price'], axis=1))
y = df['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
clf = RandomForestRegressor(n_estimators=10, random_state=1, n_jobs=-1)
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)

np.sqrt(metrics.mean_squared_error(y_test, y_pred))

2090.4491476066987

### Feature Hashing

In [236]:
X = ce.HashingEncoder(n_components=8).fit_transform(df.drop(['price'], axis=1))
y = df['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
clf = RandomForestRegressor(n_estimators=10, random_state=1, n_jobs=-1)
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)

np.sqrt(metrics.mean_squared_error(y_test, y_pred))

2107.1146290496554

Al usar Binary encoding y Feature Hashing, el error aumentó en comparación con el metodo de Dummies.